/*csslint universal-selector:false, box-sizing:false, ids:false */

body {
  background: linear-gradient(55deg,#663399 30%,#336699 90%);
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Source Sans Pro', arial, sans-serif;
  font-weight: 300;
  color: #333;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100%;
  width: 100%;
}
